<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
        </style>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>

    <!-- NAVBAR -->
<!-- make navbar wider and add "stud mufffins" and muffin logo to the left side of the bar.-->

    <nav class="navbar navbar-light" style="background-color: #6b7175;  ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        </div>
      </nav>
<!-- END OF NAVBAR -->



<!-- card -->
<!-- create js route to thatll pull images from the database to the card-->
<!-- add buttons for edit and add to main page so users have the ability to add thier own recipes to the database-->'
<!-- for the new recipe button make it so when you click the button it makes a pop up that has inputs for 
  "ingrediants, directions, and cooktimes--" use bootstrap card and possibly pop up theme to create the popup and use old activities for or have ick or rob find a way to save it to local storage???/ -->
<!-- have two text boxes-- one for Directions on how to cook and the other text box for ingrediants needed to make the meal-->
<div class="card bg-secondary text-white"> bg-primary </div>>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalLoginForm">
          Launch demo modal
      </button>
</div>
<!-- END OF CARD -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>