<div class="main">   
  <div class="slider">
      <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
      <a href="#slide-4">4</a>
      <a href="#slide-5">5</a>
      <div class="slides">
          <div id="slide-1"><img src="/foodpics/Apple Crisp.jpg" alt="Apple Crisp Pic"></div>
          <div id="slide-2"><img src="/foodpics/Apple Sauce.jpg" alt="Applesauce Pic"></div>
          <div id="slide-3"><img src="/foodpics/Chicken Pineapple Quesadilla.jpg" alt="Quesadilla Pic"></div>
          <div id="slide-4">><img src="/foodpics/Chocolate Chocolate Chip Cookies.jpg" alt="Cookie Pic"></div>
          <div id="slide-5"><img src="/foodpics/Crispy Curry Chicken.jpg" alt="Crispy Chicken Pic"></div>
      </div>
  </div>
</div>
<hr>


<!-- card -->
<div class="card" class="d-inline" style="width: 20rem;">
  <img class="card-img-top" src="/foodpics/Chocolate Chocolate Chip Cookies.jpg" alt="Cookie Pic">
  <div class="card-body">
    <h5 class="card-title">Chocolate Chocolate Chip Cookies</h5>
    <p class="card-text">Ingredients:</p>
    <p class="card-text">Instructions:</p>
    <a href="/recipe.handlebars" class="btn btn-primary">Click to see full recipe</a>
  </div>
</div>
<div class="card" class="d-inline" style="width: 18rem;">
  <img class="card-img-top" src="/foodpics/Shnitzel Sandwich.jpg" alt="Schnitzel Sandwich">
  <div class="card-body">
    <h5 class="card-title">Schnitzel Sandwich</h5>
    <p class="card-text">Ingredients:</p>
    <p class="card-text">Instructions:</p>
    <a href="#" class="btn btn-primary">Click to see full recipe</a>
  </div>
</div>
<div class="card" class="d-inline" style="width: 18rem;">
  <img class="card-img-top" src="/foodpics/Red Sangria.jpg" alt="Red Sangria in a jar">
  <div class="card-body">
    <h5 class="card-title">Red Sangria</h5>
    <p class="card-text">Ingredients:</p>
    <p class="card-text">Instructions:</p>
    <a href="#" class="btn btn-primary">Click to see full recipe</a>
  </div>
</div>
<div class="card" class="d-inline" style="width: 18rem;">
  <img class="card-img-top" src="/foodpics/German Sweet Chocolate Cake.jpg" alt="German Sweet Chocolate Cake with Pecan frosting">
  <div class="card-body">t C
    <h5 class="card-title">German Sweet Chocolate Cake</h5>
    <p class="card-text">Ingredients:</p>
    <p class="card-text">Instructions:</p>
    <a href="#" class="btn btn-primary">Click to see full recipe</a>
  </div>
</div>
<div class="card" class="d-inline" style="width: 18rem;">
  <img class="card-img-top" src="/foodpics/Firecracker Meatballs.jpg" alt="White Rice topped with green beans and meatballs topped with sauce and green onions">
  <div class="card-body">
    <h5 class="card-title">Firecracker Meatballs</h5>
    <p class="card-text">Ingredients:</p>
    <p class="card-text">Instructions:</p>
    <a href="#" class="btn btn-primary">Click to see full recipe</a>
  </div>
</div>
<!-- END OF CARD -->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
