
  <div class="row">
  <div class="col-auto">
    <h2>Welcome to StudMuffin &#129473;</h2>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Recipe:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="recipe-name">Recipe name: </label>
        <input class="form-input"  id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">Description:</label>
        <textarea class="form-input"  id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-desc">Ingredients:</label>
        <textarea class="form-input"  id="recipe-inst" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-desc">Instructions:</label>
        <textarea class="form-input"  id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if recipes.length}}
  <div class="col-md-6 recipe-list">
    <h3>Available Recipes:</h3>

    {{#each recipes as |recipe|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/recipes/{{recipe.recipe_id}}">{{recipe.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{recipe.recipe_id}}">EDIT</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
